<div class="container">
  <div>
    <h1>Hotel</h1>
    <br>
    {{#if life.id}}
      <p>You are currently in <strong>{{life.current.location.city}}, {{life.current.location.country}} - {{life.current.location.continent}}</strong> and you're <strong>{{life.current.turn}}</strong> turns old and you are feeling  <strong>{{life_health_description life.current.health.points}}</strong> with <strong>{{life.current.health.points}}</strong> health points.</p>
    {{/if}}

    <p>Feel free to stay here and relax as long as you need.  When you're ready, choose one of these places to go.</p>

    <div class="list-group">
      <a href="/game/market" class="list-group-item">Market</a>
      <a href="/game/airport" class="list-group-item">Airport</a>
      <a href="/game/bank" class="list-group-item">Bank</a>
    </div>

  </div>
</div><!-- /.container -->
