<div class="container">
  <div>
    <h1>Airport</h1>
    <br>
    <p>Here's a listing of where you can fly right now and how much it will cost you</p>

    {{#each places}}
    <div class="card text-xs-center" data-id="{{id}}">
      <div class="card-block">
        <p class="card-title"><strong>{{name}}</strong></p>
        <p class="card-text"><small class="text-muted">{{city}}, {{country}} - {{continent}}</small></p>
        <p class="card-text">
          Flight: <strong>{{flight_number}}</strong><br>
          Service To: <strong>{{id}}</strong><br>
          Price: <strong>$120</strong>
        </p>
        <a href="#" class="btn btn-primary">Book Flight</a>
      </div>
      <div class="card-footer text-muted">
        Flight Time: <strong>?</strong> turns
      </div>
    </div>
    {{/each}}

  </div>
</div><!-- /.container -->
