<div class="container">
  {{> hud}}
  <div>
    <h1>Marketplace</h1>
    <br>
    <p>Here's a listing of which items you can buy and sell and the prices for each</p>
    <div id="alert-container"></div>
    <br>
    {{#each items}}
    <div class="card text-xs-center transaction-listing">
      <div class="card-block">
        <h4 class="card-title">{{name}}</h4>
        <p class="card-text"><small class="text-muted"><span class="transaction-listing-units">{{units}}</span> available @ ${{price}} per unit</small></p>

        <p class="card-text">{{description}}</p>
        <button class="btn btn-success transaction-buy-btn" data-type="buy" data-id="{{id}}" data-name="{{name}}" data-units="{{units}}" data-price="{{price}}" data-toggle="modal" data-target="#transaction-modal">Buy</button>
        <button class="btn btn-danger transaction-sell-btn" data-type="sell" data-id="{{id}}" data-name="{{name}}" data-units="{{life_inventory id ../life.current.inventory}}" data-price="{{price}}" data-toggle="modal" data-target="#transaction-modal">Sell</button>
      </div>
      <div class="card-footer text-muted">
        {{#if ../life.id}}
          You have <strong class="transaction-inventory-units">{{life_inventory id ../../life.current.inventory}}</strong> to sell
        {{else}}
          You can't sell anything here because you're a ghost
        {{/if}}
      </div>
    </div>
    {{/each}}

  </div>
</div><!-- /.container -->

<div class="modal fade" id="transaction-modal" data-cash="{{life.current.finance.cash}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 id="transaction-title" class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <fieldset class="form-group">
          <label id="transaction-units-label" for="transaction-units"></label>
          <input type="number" class="form-control" id="transaction-units" min="0" max="0" value="0" pattern="\d*">
        </fieldset>
        <p id="transaction-confirm-message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="transaction-confirm-buy-btn" class="btn btn-success" data-life-id="{{life.id}}">Buy</button>
        <button type="button" id="transaction-confirm-sell-btn" class="btn btn-danger" data-life-id="{{life.id}}">Sell</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
