<div class="container">
	{{> hud}}
	<div>
		<h1>Airport</h1>
		<br>
		<p>Here's a listing of where you can fly right now and how much it will cost you. Click on a listing to buy a ticket and fly away from this crazy town.</p>
		<div id="alert-container"></div>
		<br>
		<table class="table table-inverse transport-table">
			<thead>
				<tr>
					<th>AIRPORT</th>
					<th>FLIGHT</th>
					<th>DEST</th>
					<th>PRICE</th>
					<th>TURNS</th>
					<th>LOCATION</th>
				</tr>
			</thead>
			<tbody>
			{{#each life.listings.airport}}
				<tr class="transport-buy" id="transport-buy-btn" data-id="{{id}}" data-name="{{name}}" data-price="{{price}}" data-city="{{city}}" data-flight-number="{{flight_number}}" data-flight-time="{{flight_time}}" data-toggle="modal" data-target="#transport-modal">
					<td><tt>{{name}}</tt></td>
					<td><tt>{{flight_number}}</tt></td>
					<td><tt>{{id}}</tt></td>
					<td><tt>${{price}}</tt></td>
					<td><tt><strong>{{flight_time}}</strong></tt></td>
					<td><tt>{{city}}, {{country}}</tt></td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</div><!-- /.container -->

<div class="modal fade" id="transport-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 id="transport-title" class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p id="transport-confirm-message">Your flight will takeoff
					<strong id="transport-confirm-leave">immediately</strong> and land at
					<strong id="transport-confirm-destination">an airport</strong> in
					<strong id="transport-confirm-turns">0</strong>.	You will be charged
					$<strong id="transport-confirm-price">0.00</strong> for this one-way flight.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" id="transport-confirm-book-btn" data-life-id="{{life.id}}" class="btn btn-success">Book</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
