<div class="container">
	{{> hud}}
	<div class="game-content">
		<a href="/game/hotel">&lt;&nbsp;Back to Hotel</a>
		<h1>Bank</h1>
		<br>
		<p>The bank is where you can handle loans, and also your bank accounts</p>
		<div id="alert-container"></div>
		<br>
		<div>
			<p>You have: $<strong id="bank-savings-amount">{{life.current.finance.savings}}</strong> in your savings account</p>
			<p><small>The bank will pay you <strong id="bank-interest-amount">{{format_percent life.current.finance.savings_interest}}</strong>% (compounded per turn) in interest for your savings.</small></p>
			<button id="bank-deposit-btn" class="btn btn-success transaction-btn" data-type="deposit" data-id="{{life._id}}" data-max="{{life.current.finance.cash}}" data-toggle="modal" data-target="#transaction-modal">Deposit Money</button>
			<button id="bank-withdraw-btn" class="btn btn-danger transaction-btn" data-type="withdraw" data-id="{{life._id}}" data-max="{{life.current.finance.savings}}" data-toggle="modal" data-target="#transaction-modal">Withdraw Money</button>
		</div>
		<br>
		<div>
			<p>You currently owe: $<strong id="bank-debt-amount">{{life.current.finance.debt}}</strong> to the bank.</p>
			<p><small>The bank will charge you <strong id="bank-interest-amount">{{format_percent life.current.finance.debt_interest}}</strong>% (compounded per turn) in interest for any outstanding loans.</small></p>
			<button id="bank-repay-btn" class="btn btn-success transaction-btn" data-type="repay" data-id="{{life._id}}" data-max="{{life.current.finance.savings}}" data-debt="{{life.current.finance.debt}}" data-toggle="modal" data-target="#transaction-modal">Repay Money</button>
			<button id="bank-borrow-btn" class="btn btn-danger transaction-btn" data-type="borrow" data-id="{{life._id}}" data-max="100000" data-toggle="modal" data-target="#transaction-modal">Borrow Money</button>
		</div>
	</div>
</div><!-- /.container -->

<div class="modal fade" id="transaction-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="transaction-title" class="modal-title"></h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<fieldset class="form-group">
					<label id="transaction-amount-label" for="transaction-amount"></label>
					<input type="number" class="form-control" id="transaction-amount" min="0" max="0" value="0" pattern="\d*">
					<br />
					<p id="transaction-confirm-message"></p>
					<button type="button" id="transaction-all-btn" class="btn btn-success" data-max="{{life.current.finance.savings}}">All Available</button>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" id="transaction-confirm-btn" class="btn btn-success">Confirm</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
