<div id="hud" class="table-responsive" data-id="{{life._id}}">
	<table class="table table-sm table-dark">
		<thead>
			<tr>
				<th id="hud-turn" class="hud-center">
					Turn
				</th>

				<th id="hud-hp" class="hud-center" data-toggle="tooltip" title="HP">
					<i class="fa fa-heart hud-icon"></i>
				</th>

				<th id="hud-cash" class="hud-center" data-toggle="tooltip" title="Cash">
					<i class="fa fa-money hud-icon"></i>
				</th>

				<th id="hud-savings" class="hud-center" data-toggle="tooltip" title="Savings">
					<i class="fa fa-credit-card hud-icon"></i>
				</th>

				<th id="hud-debt" class="hud-center" data-toggle="tooltip" title="Debt">
					<i class="fa fa-bank hud-icon"></i>
				</th>

				<th id="hud-storage" class="hud-center" data-toggle="tooltip" title="Storage">
					<a href="/game/storage"<i class="fa fa-briefcase hud-icon"></i></a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="hud-center">
					<span id="hud-turn-value">{{life.current.turn}}</span>
				</td>

				<td class="hud-center">
					<span id="hud-hp-value">{{life.current.health.points}}</span><span class="text-muted">/</span><span class="text-muted" id="hud-hp-total-value">{{life.current.health.max}}</span>
				</td>

				<td class="hud-center">
					<span id="hud-cash-value">{{life.current.finance.cash}}</span>
				</td>

				<td class="hud-center">
					<span id="hud-savings-value">{{life.current.finance.savings}}</span>
				</td>

				<td class="hud-center">
					{{show_negative life.current.finance.debt}}<span id="hud-debt-value">{{life.current.finance.debt}}</span>
				</td>

				<td class="hud-center">
					<span id="hud-storage-value">{{life.current.storage.available}}</span><span class="text-muted">/</span><span class="text-muted" id="hud-storage-total-value">{{life.current.storage.total}}</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
